* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #a90432, #fdb912);
}

.main {
  background: url(./assets/shopping.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .main {
    min-height: calc(100vh - 56px);
  }
}

.main-div {
  text-align: center;
  color: white;
  margin-bottom: 15%;
}

.main-buttons {
  margin-top: 1rem;
}
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: red !important;
}
.active {
  text-decoration: underline !important;
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f1f2b5;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #135058;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
}

.card:hover::after {
  transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #135058;
  font-size: 19px;
}

.main-buttons button:nth-child(1) {
  border: 1px solid #a90432 !important;
  background-color: #a90432;
  color: white;
  height: 40px;
}
.main-buttons button:nth-child(1):hover {
  border: 1px solid #fdb912 !important;
  color: black;
  height: 40px;
  background-color: #fdb912;
}

.main-buttons button:nth-child(2) {
  border: 1px solid #fdb912 !important;
  color: black;
  height: 40px;
  background-color: #fdb912;
}

.buttons button:nth-child(1) {
  background-color: #a90432;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #fdb912 !important;
  height: 40px;
  background-color: #fdb912;
}
.buttons button:nth-child(1):hover a{
  color: black !important;
}

.buttons button:nth-child(2) {
  border: 1px solid #fdb912 !important;
  height: 40px;
  background-color: #fdb912;
}